.container{
    /* border: 5px solid red; */
    max-width: 50%;
    margin-left: 0.8rem;
    margin-right: 0.5rem;
   
}
.image{
    max-width: 90%;
    margin: 0 auto;
    display: block;
}
.header{
    text-align: center;
}
@media screen and (max-width: 750px) {
    .container{
        /* border: 5px solid red; */
        max-width: 100%;
        margin: 0 auto;
       
    }
     
 }